@import "utils/variables.scss";

$screen-xxs: 360px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: auto;

  @media (min-width: $screen-md-min) {
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%siteSettings;
  }
}

.topRight {
  position: absolute;
  top: 15px;
  right: 15px;

  .siteSettings {
    display: flex;
    align-items: center;
    background-size: 100%;

    .action {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 12px;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 16px;

      & > span {
        color: $text-color;
        vertical-align: middle;
      }

      &:hover {
        background: $header-hover-bg;
      }

      .opened {
        background: $header-hover-bg;
      }
    }
  }
}

.content {
  height: 80vh;

  @media (max-width: $screen-md-min) {
    margin: 24px;
  }
}

.top {
  text-align: center;
}

.header {
  height: 100px;
  line-height: 44px;

  @media (min-width: $screen-xxs) {
    height: 44px;
  }

  a {
    text-decoration: none;
  }
}

.title {
  position: relative;
  top: 0px;
  color: $heading-color;
  font-weight: 600;
  font-size: 42px;
  font-family: Avenir, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-right: 0.75rem;

  span {
    &::before {
      /* svg-inline--fa */
      display: inline-block;
      font-size: inherit;
      height: 0.5em;
      overflow: visible;
      vertical-align: -12px;
      width: 24px;

      /* Icon */
      content: url("../../assets/DollarLogoColor.svg");
      /* Margin */
      margin-right: 0.75rem;
    }
  }

  @media (min-width: $screen-xxs) {
    font-size: 33px;
    text-align: center;
  }
}

.desc {
  margin-top: 12px;
  margin-bottom: 40px;
  color: $text-color-secondary;
  font-size: $font-size-base + 2px;
}

.policy {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
}

.policyBtn {
  background: #383838 url(//cdn.iubenda.com/icon_gray_mini.png) no-repeat;
  background-size: auto 14px;
  background-position: 7px 3px;
  background-position-x: 6px;
  background-position-y: 2px;

  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 1px 0 #5b5c5c;
  box-shadow: 0 1px 0 #5b5c5c;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  border-color: transparent;

  display: inline-block;
  border: 1px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;

  font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  padding: 0px 8px 0px 20px;
}
