@import "utils/variables.scss";

.layout {
  min-height: calc(100vh - #{$layout-header-height}) !important;
  margin-top: 64px;

  .sider {
    flex: 0 0 $layout-sider-default-width !important;
    max-width: $layout-sider-default-width !important;
    min-width: $layout-sider-default-width !important;
    width: $layout-sider-default-width !important;
  }
}
