@import "utils/variables.scss";

.layout {
  min-height: calc(100vh - #{$layout-header-height}) !important;

  .sider {
    flex: 0 0 $layout-sider-default-width !important;
    max-width: $layout-sider-default-width !important;
    min-width: $layout-sider-default-width !important;
    width: $layout-sider-default-width !important;

    z-index: 99;
  }

  .content {
    transition: 0.2s;
  }
}

.drawerOpen {
  .sider {
    box-shadow: 1px 0px 5px #2e2d2d8a;
  }
  .content {
    transform: scale(0.975);
    transition: 0.4s;
  }
}

.addItemDrawer {
  margin-top: $layout-header-height;
  margin-left: $layout-sider-default-width;
}

.viewSection {
  height: calc(50vh - #{$layout-header-height});
}

.editSection {
  height: calc(100vh - #{$layout-header-height});

  .btnSmall {
    margin: 0px 7.5px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid rgba(48, 57, 64, 0.2);
  border-bottom: 1.5px solid rgba(48, 57, 64, 0.2);
  padding: 1em;

  .title {
    font-size: 24px;
    margin: 0px;
  }
  .btn {
    width: 105px;

    &Small {
      width: 70px;
    }
  }
}
.list {
  .listItem {
  }
}
