@import "utils/variables.scss";

.layout {
  min-height: calc(100vh - #{$layout-header-height}) !important;

  .sider {
    flex: 0 0 $layout-sider-default-width !important;
    max-width: $layout-sider-default-width !important;
    min-width: $layout-sider-default-width !important;
    width: $layout-sider-default-width !important;
    z-index: 99;

    height: calc(100vh - #{$layout-header-height});
    max-height: calc(100vh - #{$layout-header-height});
    min-height: calc(100vh - #{$layout-header-height});
  }

  .content {
    transition: 0.2s;
    margin-left: $layout-sider-default-width;
    margin-top: $layout-header-height;
    min-height: 300px;
    padding: 24px;
  }
}

.drawerOpen {
  .sider {
    box-shadow: 1px 0px 5px #2e2d2d8a;
  }
  .content {
    transform: scale(0.975);
    transition: 0.4s;
  }
}

.addItemDrawer {
  margin-top: $layout-header-height;
  margin-left: $layout-sider-default-width;
}

.mobileAddItemDrawer {
  margin-top: $layout-header-height;
  height: calc(100vh - #{$layout-header-height});
}

.dashboard {
  @media (max-width: $isMobile) {
    padding: 1em;
    height: calc(100vh - 100px);
    overflow: auto;
  }
}

.mobileTab {
  position: relative;
}
