@import "utils/variables.scss";

.layout {
  min-height: calc(100vh - #{$layout-header-height}) !important;

  .sider {
    flex: 0 0 $layout-sider-default-width !important;
    max-width: $layout-sider-default-width !important;
    min-width: $layout-sider-default-width !important;
    width: $layout-sider-default-width !important;
    z-index: 99;

    height: calc(100vh - #{$layout-header-height});
    max-height: calc(100vh - #{$layout-header-height});
    min-height: calc(100vh - #{$layout-header-height});
  }

  .content {
    transition: 0.2s;
    margin-left: $layout-sider-default-width;
    margin-top: $layout-header-height;

    padding: 24px;
  }
}

.drawerOpen {
  .sider {
    box-shadow: 1px 0px 5px #2e2d2d8a;
  }
  .content {
    transform: scale(0.975);
    transition: 0.4s;
  }
}

.addItemDrawer {
  margin-top: $layout-header-height;
  margin-left: $layout-sider-default-width;
}

.mobileAddItemDrawer {
  margin-top: $layout-header-height;
  height: calc(100vh - #{$layout-header-height});
}

.dashboard {
  @media (max-width: $isMobile) {
    padding: 1em;
    height: calc(100vh - 100px);
    overflow: auto;
  }
}

.salesCard {
  .salesBar {
    padding: 0 0 32px 32px;
  }
  .salesRank {
    padding: 0 32px 32px 72px;
  }
  .ant-tabs-bar {
    padding-left: 16px;
    .ant-tabs-nav .ant-tabs-tab {
      padding-top: 16px;
      padding-bottom: 14px;
      line-height: 24px;
    }
  }
  .ant-tabs-extra-content {
    padding-right: 24px;
    line-height: 55px;
  }
  .ant-card-head {
    position: relative;
  }
  .ant-card-head-title {
    align-items: normal;
  }
}

.horizontalScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 24px;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;

  .analysisCard {
    flex: 0 0 auto;
    margin-right: 24px;
    min-width: 300px;
    width: 350px;
    max-width: 80vw;
    scroll-snap-align: center;
  }
}

.analysisCard {
  box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.096), 0 1.5px 3px rgba(0, 0, 0, 0.082);
}
