@import "utils/variables.scss";

.layout {
  height: 100vh;
}

.header {
  display: flex;
  padding-left: 0px !important;

  .title {
    color: white;
    width: 350px;
    font-size: 32px;
    text-align: center;
  }

  .menu {
    width: 100%;

    .rightContent {
      float: right;
    }
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.siteLayoutBackground {
  background: #fff;
}

.right {
  display: flex;
  float: right;
  height: $layout-header-height;
  margin-left: auto;
  overflow: hidden;

  .action {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;

    & > span {
      color: $text-color;
      vertical-align: middle;
    }

    &:hover {
      background: $header-hover-bg;
    }

    .opened {
      background: $header-hover-bg;
    }
  }
}
