@import "utils/variables.scss";

.layout {
  height: 100vh;
}

.header {
  display: flex;
  padding: 0px !important;
  z-index: 100;

  @media (max-width: $isMobile) {
    position: relative !important;
  }

  .titleContainer {
    min-width: $layout-sider-default-width !important;
    width: $layout-sider-default-width !important;
    padding: 0px 24px;

    .title {
      text-align: center;
      line-height: inherit;
      margin: 0px;
      margin-right: 0.5em;

      span {
        &:before {
          /* svg-inline--fa */
          display: inline-block;
          font-size: inherit;
          height: 0.65em;
          overflow: visible;
          vertical-align: -0.35em;

          /* fa-w-14 */
          width: 0.65em;

          /* Icon */
          content: url("../../assets/DollarLogoColor.svg");
          /* Margin */
          margin-right: 0.25rem;
        }
      }
    }
  }
}

.headerMobile {
  width: 75%;
  .titleContainer {
    width: 75%;

    .title {
    }
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
