@import "utils/variables.scss";

.trendItem {
  display: inline-block;
  font-size: $font-size-base;
  line-height: 22px;

  .up,
  .down {
    position: relative;
    top: 1px;
    margin-left: 4px;
    span {
      font-size: 12px;
      transform: scale(0.83);
    }
  }
  .up {
    span {
      color: #f5222d;
    }
  }
  .down {
    top: -1px;
    span {
      color: #52c41a;
    }
  }

  &.trendItemGrey .up,
  &.trendItemGrey .down {
    color: $text-color;
  }

  &.reverseColor .up {
    span {
      font-size: 16px;
      color: #52c41a;
    }
  }

  &.reverseColor .down {
    span {
      font-size: 16px;
      color: #f5222d;
    }
  }
}
